include ../../util/include/include-script.pug

+include-script('./resources/js/image-modal')
div(id="image-modal")
    a(class="image-modal-exit" href="#")
        div(class="exit-image")
    div(id="image-modal-main-image")
    div(class="image-modal-thumbnails")
